/* ================================= 
  Base Element Styles
==================================== */
p {
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
  }
* {
	box-sizing: border-box;
}
.button {
    border-radius: 2px;
}

.button a {
    padding: 8px 12px;
    border: 1px solid #ED2939;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;  
}
body {
	font-family: 'Roboto Slab', serif;
	line-height: 1.6;
	color: bisque;
	margin: 0;
	text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin: 0 0 1em 0;
}
h2,
h3,
a {
    color: bisque;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
	line-height: 26.4px;
    text-align: center;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 50%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #493025;
	background-color: bisque;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: burlywood;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: bisque;
	background: #493025;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding: 1em;
	background: #493025a9;
	border-radius: 1em;
	margin: 0 .5em .8em;
}
.main-footer {
	background: #493025;
	padding: 2em 0;
	margin-top: 30px;
}
.instagramicon {
	width: 100%;
	max-width: 25px;
}
.youtubeicon {
	width: 100%;
	max-width: 25px;

/* ---- Page Elements ---- */

logo {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}
.headline {
	margin-bottom: 0;
}